@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&family=Satisfy&family=Varela+Round&display=swap');
$color_1: rgba(255, 255, 255, 1);
$color_2: rgba(58, 58, 58, 1);
$color_3: rgba(26, 224, 236, 1);
$color_4: rgba(19, 232, 241, 0.39);
$color_5: rgba(0, 0, 0, 1);
$color_6: rgba(0, 0, 0, 0.25);
$color_7: rgba(246, 246, 246, 1);
$color_8: rgba(0, 0, 0, 0.16);
$color_9: rgba(0, 0, 0, 0.35);
$color_10: rgba(44, 44, 44, 1);
$font_1: normal normal bold 20px/30px Heebo;
$font_2: normal normal 500 14px/26px Heebo;
$font_3: normal normal 500 23px/34px Heebo;
$font_4: normal normal 300 20px/29px Heebo;
$font_5: normal normal bold 22px/30px Heebo;

@mixin btn($btnWidth, $btnHeight, $btnColor, $btnfont, $textColor) {
    display: block;
    width: $btnWidth;
    height: $btnHeight;
    background: $btnColor 0% 0% no-repeat padding-box;
    border-radius: 25px;
    font: $btnfont;
    color: $textColor;
    letter-spacing: 0.3px;
    text-decoration: none;
    line-height: 2.5;
    opacity: 1;
}

flexCenterDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}