* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;

}

html {
    font-size: 16px;
}

.flexItem {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.aboutContainer * {
    margin: 24px 0;

}

.aboutContainer .logo {
    width: 8.75em;
    height: 8.75em;
}

.aboutContainer h1 {
    font: normal normal 900 35px/52px Heebo;
    margin-bottom: -11px;
}

.aboutContainer p {
    font: normal normal normal 20px/29px Heebo;
}

.aboutContainer a {
    display: block;
    width: 16.25em;
    height: 2.563em;

    /* UI Properties */
    background: #1AE0EC 0% 0% no-repeat padding-box;
    border-radius: 25px;
    font: normal normal bold 20px/30px Heebo;
    color: #3A3A3A;
    letter-spacing: 0.3px;
    text-decoration: none;
    line-height: 2.5;
    opacity: 1;
}

.aboutContainer {
    width: 100vw;
    height: 44.688em;
    background: #fff 0% 0% no-repeat padding-box;
    opacity: 1;
    direction: rtl;
}

.aboutContainer .contentContainer {
    width: 41%;
}

























.form-control {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: right;
}

form {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: right;
}

/* Style inputs */
input[type=text],
select {
    width: 100%;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;

}

/* Style the submit button */
input[type=submit] {
    width: 100%;
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;

    border: none;
    border-radius: 4px;
    cursor: pointer;
}


/* Add a background color to the submit button on mouse-over */
input[type=submit]:hover {
    background-color: #45a049;
}