.flexColumn {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.grid {
    display: grid;
    gap: 15px;
}

.flexItem {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}