@import "_setup";

$background-color_1: #fff;
$background-color_2: #333;


@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&family=Satisfy&family=Varela+Round&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
    font-size: 16px;
}

header {
    background-color: #fff;
    color: rgb(0, 0, 0);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.04167vw 2.08333vw;
        /* Use 'vw' units */
        max-width: 80rem;
        /* Use 'rem' units */
        margin: 0 auto;
    }

    .logo-container {
        display: flex;
        align-items: center;

        .logo-img {
            height: 3.64583vh;
            /* Use 'vh' units */
            width: 3.64583vh;
            /* Use 'vh' units */
            object-fit: contain;
        }

        .logo a {
            text-decoration: none;
            font-size: 2.5rem;
            /* Use 'rem' units */
            font-weight: bold;
            margin-left: 0.625rem;
            /* Use 'rem' units */
            color: black;
            font-family: 'Satisfy', cursive;
        }
    }

    .mobile-menu {
        cursor: pointer;
        display: flex;
        /* Display the hamburger container */

        .hamburger {
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            /* Center-align the lines vertically */
            width: 20px;
            cursor: pointer;
            transition: transform 0.3s;

            .line {
                height: 3px;
                /* Adjusted height for the lines */
                width: 20px;
                /* Adjusted width for the lines */
                background-color: #333;
                margin: 4px 0;
                transition: transform 0.3s, opacity 0.3s;
            }
        }
    }

    .nav-links {
        list-style: none;
        padding: 0;
        display: none;
        position: absolute;
        /* Position the navigation links absolutely */
        top: 100%;
        /* Place them below the header */
        left: 0;
        background-color: #fff;
        width: 100%;
        box-shadow: 0px 0px 0.52083vw rgba(0, 0, 0, 0.2);
        /* Use 'vw' units */
        z-index: 99;

        li {
            margin-right: 0;
            margin-bottom: 0.52083vh;
            /* Use 'vh' units */
            width: 100%;
            border: 0.52083vw solid #ccc;
            /* Use 'vw' units */
            padding: 1.04167vh 0.52083vw;
            /* Use 'vh' and 'vw' units */
            background-color: #fff;
            /* Set background color to white */

            &:hover {
                background-color: rgba(26, 224, 236, 1);
                color: black;
            }

            a {
                text-decoration: none;
                color: rgb(0, 0, 0);
                font-weight: bold;
                transition: color 0.3s;
            }
        }
    }

    @media screen and (max-width: 768px) {
        .nav-links.active {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        main {
            margin-top: calc(6.25vh + 1.04167vw);
            /* Adjusted to use 'vh' and 'vw' units */
        }

        .logo a {
            font-size: 1.35417rem;
            /* Use 'rem' units */
        }

        .hamburger.active .line:nth-child(1) {
            transform: rotate(-45deg) translate(-3px, 4px);
        }

        .hamburger.active .line:nth-child(2) {
            opacity: 0;
        }

        .hamburger.active .line:nth-child(3) {
            transform: rotate(45deg) translate(-3px, -4px);
        }
    }

    @media screen and (min-width: 769px) {
        .mobile-menu {
            display: none;
        }

        .nav-links {
            display: flex;
            flex-direction: row;
            /* Display the navigation links horizontally */
            position: static;
            /* Remove absolute positioning */
            top: auto;
            /* Reset top value */
            background-color: transparent;
            /* Remove background color */
            box-shadow: none;
            /* Remove box-shadow */
            width: auto;
            /* Reset width */

            li {
                border: none;
                /* Remove border */
                padding: 0;
                /* Reset padding */
                margin-right: 2.08333vw;
                /* Use 'vw' units */
                margin-bottom: 0;

                /* Reset margin-bottom */
                &:hover {
                    background-color: transparent;
                    /* Remove background color on hover */
                    color: black;
                }
            }
        }
    }
}


main {
    margin-top: 50px;
    direction: rtl;

    .upperContainer {
        height: 28.8125em;
        background-image: linear-gradient(to bottom, #13E8F163, #13E8F163), url('../images/bgc.jpg');
        width: 100vw;

        .textContainer {
            width: 55%;

            h1 {
                font: normal normal 900 80px/118px Heebo;
            }

            p {
                font: normal normal 500 20px/30px Heebo;
            }
        }
    }

    .smallIconsContainer {
        width: 100vw;
        background: rgba(255, 255, 255, 1) 0% 0% no-repeat padding-box;
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
        opacity: 1;

        .smallIcons {
            width: 6.25em;
            height: 6.25em;
        }
    }

    .aboutContainer {
        width: 100vw;
        height: 44.688em;
        background: #fff 0% 0% no-repeat padding-box;
        opacity: 1;
        direction: ltr;
        margin-top: 5px;

        * {
            margin: 15px 0;

        }

        .logo {
            width: 8.75em;
            height: 8.75em;
        }

        h1 {
            font: normal normal 900 35px/52px Heebo;
            margin-bottom: -15px;
        }

        p {
            font: normal normal normal 20px/29px Heebo;
        }

        a {
            @include btn(16.25em, 2.563em, $color_3, $font_1, $color_2);
        }

        .contentContainer {
            width: 41%;
        }
    }

    .galleryContainer {
        width: 100vw;
        padding: 150px;
        background: #F6F6F6 0% 0% no-repeat padding-box;

        h1 {
            text-align: center;
            font: normal normal 900 36px/53px Heebo;
            letter-spacing: 0px;
            color: #3A3A3A;
            opacity: 1;
        }

        p {
            text-align: center;
            font: normal normal normal 20px/29px Heebo;
            letter-spacing: 0px;
            color: #3A3A3A;
            opacity: 1;
        }

        .projectGallery {
            width: 100vw;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 1fr);

            opacity: 1;
            justify-items: center;
            align-items: center;
            margin-top: 68px;


            .projectGalleryItem {
                height: 32.375em;
                width: 25.3125em;
                background: #FFFFFF 0% 0% no-repeat padding-box;
                box-shadow: 3px 3px 15px #00000029;
                border-radius: 10px;
                opacity: 1;
                grid-template-columns: repeat(1, 1fr);
                grid-template-rows: repeat(5, 1fr);
                justify-items: center;

                .projectImage {
                    width: 100%;
                    height: 14.52625em;
                    border-bottom: 1px solid #000;
                }

                section {
                    h1 {
                        font: $font_3;
                        color: $color_2;
                        opacity: 1;
                    }

                    p {
                        font: $font_2;
                        color: $color_2;
                        opacity: 1;
                        width: 22em;
                    }
                }

                .iconContainer {
                    grid-template-columns: repeat(4, 1fr);
                    grid-template-rows: repeat(1, 1fr);
                    gap: 5px;

                    img.smallIcons {
                        width: 1.625em;
                        height: 1.625em;
                    }
                }

                .projectBtn {
                    @include btn(9.562em, 2.5em, $color_3, $font_2, $color_10);
                }
            }

        }
    }
}

footer {
    background-color: $color_5;
    width: 100%;
    direction: rtl;


    .footerContainer {
        display: flex;
        flex-direction: column;

        .contact {
            width: 100%;
            height: 88vh;
            background: #3A3A3A 0% 0% no-repeat padding-box;
            color: wheat;
            display: flex;

            .imageContainer {
                width: 70vw;
            }

            form {
                width: 30vw;
                margin: 100px 304px 0 0;

                .formControl {
                    margin-bottom: 17px;
                    text-align: right;

                    input {
                        width: 550px;
                        height: 50px;
                        text-align: right;
                        font: normal normal bold 18px/24px Heebo;
                    }

                    input[id="message"] {
                        width: 550px;
                        height: 100px;
                    }

                    label {
                        text-align: right;
                        font: normal normal bold 16px/24px Heebo;
                        letter-spacing: 0px;
                        color: #FFFFFF;
                        opacity: 1;
                    }
                }

                h1 {
                    text-align: right;
                    font: normal normal 900 36px/53px Heebo;
                    letter-spacing: 0px;
                    color: #FFFFFF;
                    opacity: 1;
                }

                p {
                    text-align: right;
                    font: normal normal normal 20px/29px Heebo;
                    letter-spacing: 0px;
                    color: #FFFFFF;
                    opacity: 1;
                    margin-bottom: 47px;
                }

                .btn {
                    @include btn(10.375rem, 3.125rem, $color_3, $font_5, $color_10);
                }
            }
        }

        .socialMedia {
            height: 200px;
            width: 100%;
            background: #1AE0EC 0% 0% no-repeat padding-box;
            opacity: 1;

            .iconContainer {
                width: 63.5%;
                height: 100%;
                display: inline-grid;
                grid-template-columns: repeat(6, 1fr);
                justify-content: space-evenly;
                align-items: center;

                .containerItem {
                    img {
                        margin-bottom: 15px;
                    }

                    h5 {
                        text-align: center;
                        font: normal normal normal 14px/16px Heebo;
                        letter-spacing: 0px;
                        color: #2C2C2C;
                        opacity: 1;
                    }
                }
            }
        }

        .copyRight {
            color: $color_3;
            font: $font_4;
            display: flex;
            width: 98%;
            line-height: 2.2;
            margin: 0 auto;

            .right {
                float: right;
                width: 50%;
                text-align: right;
            }

            .left {
                float: left;
                width: 50%;
                text-align: left;
            }
        }
    }
}